@media (max-width: 768px) {
    .header {
        padding-top: 30px;
    }

    .header .container {
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .header__nav {
        display: flex;
        justify-content: center;
    }

    .header__media-wrp {
        display: block;
    }

    .header__title {
        text-align: center;
        margin-bottom: 10px;
    }

    .header__subtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header__link {
        font-size: 30px;
    }

    .header__burger {
        display: block;
        margin: 7px 0px 0px 6%;
        position: relative;
        width: 40px;
        height: 30px;
        cursor: pointer;
        z-index: 200;
    }
    .header__burger-line {
        position: absolute;
        left: 0;
        display: block;
        background: #dadada;
        width: 100%;
        height: 4px;
        background: #828282;
        transition: 400ms ease-out all;
        -webkit-transition: 400ms ease-out all;
        -moz-transition: 400ms ease-out all;
        -ms-transition: 400ms ease-out all;
        -o-transition: 400ms ease-out all;
    }

    .header__burger-line:first-child {
        top: 0;
    }

    .header__burger-line:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    .header__burger-line:last-child {
        bottom: 0;
    }

    .header__burger--active {
        position: relative;
    }

    .header__burger--active .header__burger-line:first-child {
        top: 50%;
        transform: rotate(405deg) translateY(-50%);
        -webkit-transform: rotate(405deg) translateY(-50%);
        -moz-transform: rotate(405deg) translateY(-50%);
        -ms-transform: rotate(405deg) translateY(-50%);
        -o-transform: rotate(405deg) translateY(-50%);
    }

    .header__burger--active .header__burger-line:nth-child(2) {
        display: none;
    }

    .header__burger--active .header__burger-line:last-child {
        bottom: 50%;
        transform: rotate(-405deg) translateY(50%);
        -webkit-transform: rotate(-405deg) translateY(50%);
        -moz-transform: rotate(-405deg) translateY(50%);
        -ms-transform: rotate(-405deg) translateY(50%);
        -o-transform: rotate(-405deg) translateY(50%);
    }

    .header__list {
        padding-top: 50px;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background: #d8d7d7;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }

    .header__list--active {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transition: 200ms ease-in-out all;
        -webkit-transition: 200ms ease-in-out all;
        -moz-transition: 200ms ease-in-out all;
        -ms-transition: 200ms ease-in-out all;
        -o-transition: 200ms ease-in-out all;
    }

    .hero {
        padding: 220px 0 70px 0;
    }

    .hero__title {
        display: none;
    }
    .hero__subtitle {
        display: none;
    }

    .hero__photo-wrp {
        margin-top: 0;
    }

    .hero__photo {
        display: none;
    }

    .hero__photo-small {
        display: block;
        margin: 0px auto;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
        box-shadow: 5px 5px 15px #828282;
        animation: main-photo-shadow 10s linear 10ms infinite;
        -webkit-animation: main-photo-shadow 10s linear 10ms infinite;
    }

    .skills__subtitle {
        margin-bottom: 30px;
    }

    .skills__list {
        gap: 20px;
    }
}

@media (max-width: 450px) {
    .hero {
        padding-top: 220px;
    }
    .txt-page {
        font-size: 14px;
    }

    .about-me {
        padding: 50px 0;
    }

    .about-me__txt {
        gap: 15px;
    }

    .skills {
        padding: 50px 0;
    }

    .portfolio {
        padding: 50px 0;
    }

    .portfolio__wrp .portfolio__arrow {
        display: none;
    }

    .contacts {
        padding: 50px 0;
    }
}
